@font-face {
    font-family: 'android';
    src: url('../fontes/idroid.otf') format('opentype');
}
@font-face {
    font-family: 'Poppins';
    src: url('../fontes/Poppins/Poppins-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fontes/Roboto_Condensed/RobotoCondensed-Light.ttf') format('truetype');
}

body {
    background-color:rgb(132, 225, 173);
}
* {
    margin: 0;
    padding: 0;
}
main {
    background-color: white;
    max-width: 700px;
    min-width: 320px;
    margin: 0 auto;
    margin-bottom: 18px;
    border-radius: 0px 0px 7px 7px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.479);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10pt;
}
img {
    width: 100%;
}
footer{
    text-align: center;
    font-family: 'Poppins';
    background-color: #1A5C38;
    color: white;
}
#bugdroid{
    width: 250px;
}
p {
    text-align: justify;
    font-family: 'Poppins';
}
#video{
    text-align: center;
    background-color: #1A5C38;
    padding-top: 10px;
    padding-bottom: 10px;
    
}
#video > iframe{
    width: 90%;
}
div{
    margin: 0 auto;
    text-align: center;
}
h1, h2{
    font-family: 'android';
    color: #1A5C38;
    background-image: linear-gradient(to right, #89b79e75, #b4d6c379, #f0f9f47e);
    padding-left: 5px;
}
header{
    background-image: linear-gradient(to top, #1C633B, #227a4ad0, #36C374);
    position: relative;
    min-height: 150px;
    text-align: center;
    padding-top: 20px;
    padding-left: 15px;
}
#sub-tit{
    color: white;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    width: 350px;
    font-family: 'Poppins';
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.432);
    font-weight: lighter;
    text-indent: 0%;
}
#navbar{
    margin-top: 15px;
    padding: 10px;
    text-align: left;
    font-family: 'Poppins';
}
a:link{
    text-decoration: none;
}
a{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-right: 5px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.432);
}
nav > a:hover{
    color: #b8fdd6;
    border-radius: 5px;
}
p{
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    text-indent: 1.5em;
}
.linkss{
    color: #1A5C38;
    text-shadow: none;
}
.linkss:hover{
    color: green;
    text-decoration: underline;
}
.externo::after{
    content: '\00A0\1F517';
}
#listas{
    background-color:rgb(132, 225, 173);
    margin-top: 1vw;
    border-radius: 8px;
    padding-bottom: 2px;
    font-family: 'Poppins';
    list-style-position: inside;
    text-align: left;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.273);
}
#listas > ul{
    columns: 2;
    margin-left: 10px;
    list-style-type: '\2714\00A0\00A0';
}
#titulo_listas{
    height: 30px;
    padding-top: 7px;
    padding-left: 7px;
    border-radius: 7px 7px 0px 0px;
    background-color: #2FA866;
    color: white;
    font-weight: normal;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.521);
}
.txt{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    text-shadow: 2px black;
}
aside > ul > li:hover{
    color: rgb(52, 140, 255);
    text-decoration: underline;
}
#nodroid{
    font-family: 'Roboto Condensed';
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.342);
    background-image: none;
    }